@tailwind base;

@tailwind components;

@keyframes spinAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.spin {
    animation: spinAround 1s infinite linear;
}

.pagination {
    @apply flex border rounded;
}

.page-item .page-link {
    @apply block py-2 px-4 hover:bg-gray-200;
}

.page-item.active .page-link {
    @apply text-gray-900;
}

.page-item + .page-item {
    @apply border-l;
}

@tailwind utilities;
